POSTGRES_HOST=localhost
POSTGRES_DB=banking_rules_engine
POSTGRES_USER=appuser
POSTGRES_PASSWORD=apppassword
POSTGRES_PORT=5432

KAFKA_PORT=9092
KAFKA_CLUSTER_ID=abcdefghijklmnopqrstuv

ASPNETCORE_ENVIRONMENT=Development
SPRING_PROFILES_ACTIVE=docker

TRANSACTION_API_PORT=8081
RULES_ENGINE_PORT=8082
OPERATIONS_PORTAL_PORT=4200

TZ=America/La_Paz